.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    background-color: #006989;
    color: antiquewhite;
}

img{
    border: 10px solid white;
    height:200px;
    width:200px;
    border-radius: 50%;
    background-color: black;
    
}

#school{
    position: absolute;
    left: 280px;
    top: 140px;
    color: #1A2130;
    
}

#university{
    position: absolute;
    left: 280px;
    top: 350px;
    color: #1A2130;
}